@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Optional: your custom theme vars */
:root {
  --background: #e83d3d;
  --foreground: #d84141;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #904141;
    --foreground: #490404;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', system-ui, sans-serif;
}
